<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p> <%= message %>
    </p>
      <a href="<%= url + "/list/" %>">
        <p>Go back</p>
        <a/>

    <h1 id="b"></h1>

</body>

</html>